<% if current_user %>
  Welcome, <%= current_user.name %>!   <%= link_to "Sign Out", signout_path, method: :delete %>
<% end %>
<h1>Welcome into my blog</h1>
<p>You can sign in with:</p>

<%= link_to "Sign in with Facebook", "/auth/facebook" %> | <%= link_to "Sign in with GitHub", "/auth/github" %>
